//first div
#LB-img {
  align-self: center;
  height: 15vh;
}

//second div
#large-bush {
  align-self: flex-start;
  height: 40vh;
}

#lake-about {
  align-self: flex-end;
  height: 40vh;
}

#middle-message {
  width: 70%;
  align-self: center;
  text-align: center;
}
