/* About Section*/
section#about .grid{
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(4, minmax(0, 1fr)) ;
  }
  
  .about-textbox{
    width: 50%; 
    /* min-width: 250px;  */
  }
  
  #LB-img{
    width:15%; 
    min-width: 110px; 
  }
  
  p.textbox-message{
    width: 40%; 
    /* min-width: 180px;   */
  }
  
  section#about .grid:last-of-type{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr)) ;
  }
  
  .top-bush{
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 1/ span 2; 
  }
  
  #large-bush{
    min-width: 160px; 
    width: 30%; 
  }
  
  .message-item{
    grid-column: 1/span 3;
    grid-row: 2/span 2; 
  }
  
  .middle-message{
    max-width: 50%;
    text-align: center;
    font-size: 1rem;
  }
  
  
  .lake-2{
    align-items: flex-end;
    justify-content: flex-end;
    grid-row: 4;
    grid-column: 2/ span 2; 
  }
  
  #lake-about{
    width: 60%; 
    min-width: 50px; 
  }