@use 'homeSection';
@use 'aboutSection'; 
@use 'likesSection';
@use 'additionalResources';  
@use 'mediaQueries';
@use 'navbar'; 

html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background:#A5DD94 ;
    font-family: 'Reem Kufi', sans-serif;
    overflow-x: hidden;
  }
  
  h2{
    font-size: 1rem;
  }
  
  p, li{
    font-size: 0.9rem;
  }
  
  .space{
    margin-bottom: 30%; 
  }
  
  .grid{
    display: grid;
    height: 100vh; 
    width: 100vw;
    overflow: hidden; 
  }
  
.textbox-item {
  align-self: center;
  position: relative;
    display: flex; 
    justify-content: center;
  }
  
.textbox {
  max-height: 18vh;
  }

.textbox-message {
  font-size: 2vh;
  text-align: left;
  z-index: 1;
  overflow-wrap: break-word;
  position: absolute;
  align-self: center;
  margin: 0 12%;
}
  